<div ng-app="app">

    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">Directives</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Pre-Link</a></li>
            <li><a ui-sref="about">About</a></li>
        </ul>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container">

        <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
        <div ui-view></div>

    </div>

</div>

@section scripts {
    <script src="~/app-directives/pre-post-link/dad.js"></script>
    <script src="~/app-directives/pre-post-link/dad2.js"></script>
    <script src="~/app-directives/pre-post-link/son.js"></script>
    <script src="~/app-directives/app-directives.js"></script>
}