<div ng-app="app">

    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">AngularUI Router</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="about">About</a></li>
        </ul>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container">

        <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
        <div ui-view></div>

    </div>

</div>

<div id="SecoundApp" style="background-color: orange" ng-controller="secoundCtrl as sec">
    <h1>SECOUND APP</h1>

    <div sample-directive name="{{sec.name}}"></div>

    <button ng-click="sec.onClick()">{{sec.button1Text}}</button>
</div>

@section scripts {
    <script src="~/app/about/scotchCtrl.js"></script>    
    <script src="~/app/home/secoundCtrl.js"></script>
    <script src="~/app/home/sampleDirective.js"></script>
    <script src="~/app/main.js"></script>
}